DATABASE_URL="postgresql://postgres@localhost:5433/rookary_chess?schema=public"
NEXTAUTH_URL="http://localhost:3000"
AUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-in-production"
AUTH_SECRET="change-me-in-production"
AUTH_TRUST_HOST=true
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
NEXT_PUBLIC_SOCKET_URL="http://localhost:3001"
STOCKFISH_DEPTH_DEFAULT=10
INITIAL_RATING=1200
K_FACTOR_NEW=40
K_FACTOR_ESTABLISHED=20
RDP_LOOKUP=350
