DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-in-production"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
NEXT_PUBLIC_SOCKET_URL="http://localhost:3000"
STOCKFISH_DEPTH_DEFAULT=10
INITIAL_RATING=1200
K_FACTOR_NEW=40
K_FACTOR_ESTABLISHED=20
RDP_LOOKUP=350
