node_modules
.next
out
dist
build
coverage

.env
.env.local
.env.production
.env.development

prisma/dev.db
prisma/dev.db-journal
prisma/migrations/dev.db*
.pgdata/
client_secret_689867216050-am564fsbg13poq5oqevht20ks36em3nf.apps.googleusercontent.com.json
my-chess-site@dev
vite

.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea

logs
*.log
npm-debug.log*

playwright-report
test-results
.turbo

next-env.d.ts
.vercel
